NET "blue[0]" LOC = C7;
NET "blue[0]" IOSTANDARD = LVCMOS33;
NET "blue[0]" DRIVE = 8;
NET "blue[0]" SLEW = FAST;
NET "blue[1]" LOC = D7;
NET "blue[1]" IOSTANDARD = LVCMOS33;
NET "blue[1]" DRIVE = 8;
NET "blue[1]" SLEW = FAST;
INST "clk50_BUFGP" LOC = BUFGMUX_X2Y11;
NET "clk50" LOC = E12;
NET "clk50" IOSTANDARD = LVCMOS33;
NET "green[0]" LOC = C5;
NET "green[0]" IOSTANDARD = LVCMOS33;
NET "green[0]" DRIVE = 8;
NET "green[0]" SLEW = FAST;
NET "green[1]" LOC = D5;
NET "green[1]" IOSTANDARD = LVCMOS33;
NET "green[1]" DRIVE = 8;
NET "green[1]" SLEW = FAST;
NET "green[2]" LOC = C6;
NET "green[2]" IOSTANDARD = LVCMOS33;
NET "green[2]" DRIVE = 8;
NET "green[2]" SLEW = FAST;
NET "hsync" IOSTANDARD = LVCMOS33;
NET "hsync" DRIVE = 8;
NET "hsync" SLEW = FAST;
NET "red[0]" LOC = A3;
NET "red[0]" IOSTANDARD = LVCMOS33;
NET "red[0]" DRIVE = 8;
NET "red[0]" SLEW = FAST;
NET "red[1]" LOC = B3;
NET "red[1]" IOSTANDARD = LVCMOS33;
NET "red[1]" DRIVE = 8;
NET "red[1]" SLEW = FAST;
NET "red[2]" LOC = B8;
NET "red[2]" IOSTANDARD = LVCMOS33;
NET "red[2]" DRIVE = 8;
NET "red[2]" SLEW = FAST;
NET "rota" LOC = T13;
NET "rota" IOSTANDARD = LVCMOS33;
NET "rota" PULLUP;
NET "rotb" LOC = R14;
NET "rotb" IOSTANDARD = LVCMOS33;
NET "rotb" PULLUP;
NET "vsync" IOSTANDARD = LVCMOS33;
NET "vsync" DRIVE = 8;
NET "vsync" SLEW = FAST;
NET "hsync" LOC = C11;
NET "vsync" LOC = B11;
