
# PlanAhead Generated physical constraints 

NET "Go" LOC = B8;
NET "SCL" LOC = N10;
NET "SDA" LOC = P11;
NET "RESET" LOC = C9;
//NET "locked" LOC = U16;
NET "CLK" LOC = V10;
NET "Mode" LOC = T10;
//7-Seg Display
NET "Display[0]" LOC = T17; //CA
NET "Display[1]" LOC = T18; //CB
NET "Display[2]" LOC = U17; //CC
NET "Display[3]" LOC = U18; //CD
NET "Display[4]" LOC = M14; //CE
NET "Display[5]" LOC = N14; //CF
NET "Display[6]" LOC = L14; //CG
NET "Display[7]" LOC = M13; //DP
NET "Transistors[0]" LOC = N16; //AN0
NET "Transistors[1]" LOC = N15; //AN1
NET "Transistors[2]" LOC = P18; //AN2
NET "Transistors[3]" LOC = P17; //AN3;
NET "ReceivedData[7]" LOC = T11;
NET "ReceivedData[6]" LOC = R11;
NET "ReceivedData[5]" LOC = N11;
NET "ReceivedData[4]" LOC = M11;
NET "ReceivedData[3]" LOC = V15;
NET "ReceivedData[2]" LOC = U15;
NET "ReceivedData[1]" LOC = V16;
NET "ReceivedData[0]" LOC = U16;